# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
.vscode/
*~
build/
cmake-build-debug/
cmake-build-debug*

target/
.idea/
*.iml
.DS_Store

# eclipse
.settings/
.project
.classpath
/bin/

# some
full
out
*~

*~
.swp
.swo

# FE
node_modules

/csharp-sdk/.vs/
/csharp-sdk/TestResults/
/csharp-sdk/packages/
obj/
bin/
logs/

combined.js

wxcert
